<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/xtrmstep/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="xtrmstep" />
            <add key="ClearTextPassword" value="a0a773421ce9412c1ef1685def849242b3029103" />
        </github>
    </packageSourceCredentials>
</configuration>
