<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/xtrmstep/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="xtrmstep" />
            <add key="ClearTextPassword" value="8006b0a725174d1cfc662892c15ca96b7a8b52eb" />
        </github>
    </packageSourceCredentials>
</configuration>